@charset "UTF-8";
*{
	background-color: #C7C2C2;
}

.content{
	margin:0 auto; 
	text-align:center;
	width:85%;
	height:100%;
	float: left;
}

span{
	display:inline-block;
	width: 10px;
	height: 10px;
}

.productImg{
	width: 100px;
	height: 100px;
}

#product{
	width:10%;
	float:left
}
